html.dark {
  // Variable
  --dark-primary: #1e1e1e;
  --dark-primary-light: #2c2c2c;
  // Element Plus
  --el-menu-bg-color: var(--dark-primary);
  --el-text-color-primary: white;
  --el-bg-color-overlay: var(--dark-primary);
  --el-drawer-bg-color: var(--dark-primary);
  .el-input {
    --el-fill-color-blank: var(--dark-primary);
  }
  .el-collapse {
    --el-collapse-border-color: var(--dark-primary);
  }
  .el-collapse-item__header {
    background-color: var(--dark-primary) !important;
    padding: 8px;
    border-radius: 8px;
  }
  .el-button {
    --el-button-bg-color: var(--dark-primary);
    --el-button-border-color: var(--theme-default);
  }
  .el-icon {
    color: var(--theme-default);
  }
  .el-collapse-item__wrap {
    background-color: var(--dark-primary);
  }
  .el-drawer {
    background-color: var(--dark-primary);
  }
  // General
  body {
    background-color: #121212;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
  .card {
    --bs-card-bg: var(--dark-primary) !important;

    .card-header {
      background-color: var(--dark-primary);
      color: white;
    }
  }
  #menu-header-desktop {
    ul {
      li {
        color: white;
      }
    }
  }
  .search-container {
    background: var(--dark-primary);
  }
  .search-container .input-search {
    background: var(--dark-primary);
  }

  .bg-tv-image {
    background-color: var(--dark-primary-light);
  }

  .voice-news-container li {
    background-color: var(--dark-primary);
  }
  .audio-container {
    background-color: var(--dark-primary);
  }
  .play-button,
  .progress,
  .volume-control {
    color: white;
    background-color: var(--dark-primary-light);
  }

  #seekSlider::-webkit-slider-runnable-track {
    height: 15px;
    background: #242020;
    border-radius: 16px;
  }

  #seekSlider::-moz-range-track {
    height: 15px;
    background: #242020;
    border-radius: 16px;
  }

  #volume::-webkit-slider-runnable-track {
    background: #242020;
  }

  #volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    background-color: #383838;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: -407px 0 0 400px #383838;
  }

  .team-play {
    background-color: var(--dark-primary-light);
  }

  .play-button svg {
    color: white;
  }
  .lists-voice-row {
    background-color: var(--dark-primary-light) !important;
  }

  .stat-list li {
    font-size: 13px;
    color: white;
  }
  .stat-tabs-btn {
    color: white;
  }
  .comment-text {
    background: var(--dark-primary-light);
  }
  .comment-box input {
    background-color: var(--dark-primary-light);
  }
  .send-btn {
    background-color: var(--dark-primary-light);
  }
  .tips-container {
    background-color: var(--dark-primary-light);
  }
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    background-color: var(--dark-primary);
    color: white;
  }

  .mobile-drawer-menu {
    li {
      color: white;
    }
  }
}
